{"CLEARDB_DATABASE_URL"   "mysql://root:root@localhost:8889/dcsite"

 "FACEBOOK_CALLBACK_URL"  "http://daveconservatoire.lvh.me:3000/auth/facebook/return"
 "FACEBOOK_CLIENT_ID"     "CLIENT_ID"
 "FACEBOOK_CLIENT_SECRET" "CLIENT_SECRET"

 "GOOGLE_CALLBACK_URL"    "http://daveconservatoire.lvh.me:3000/auth/google/return"
 "GOOGLE_CLIENT_ID"       "CLIENT_ID"
 "GOOGLE_CLIENT_SECRET"   "CLIENT_SECRET"

 "ROLLBAR_TOKEN"          "ACCESS_TOKEN"
 "SESSION_SECRET"         "YOUR-SECRET"}
