{:database
 {:client     "mysql"
  :connection {:host     "localhost"
               :user     "root"
               :password "root"
               :database "dcsite"
               :port     8889}}

 :session-secret
 "YOUR-SECRET"

 :rollbar
 {:nodejs.rollbar/access-token "ACCESS_TOKEN"}

 :google
 {:nodejs.passport.google/clientID     "CLIENT_ID"
  :nodejs.passport.google/clientSecret "CLIENT_SECRET"
  :nodejs.passport.google/callbackURL  "http://localhost:3000/auth/google/return"}

 :facebook
 {:nodejs.passport.facebook/clientID      "CLIENT_ID"
  :nodejs.passport.facebook/clientSecret  "CLIENT_SECRET"
  :nodejs.passport.facebook/callbackURL   "http://localhost:3000/auth/facebook/return"
  :nodejs.passport.facebook/profileFields ["id" "displayName" "name" "email" "picture"]}}
